.dgsw_img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.Login_in {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  z-index: 20;
  width: 550px;
  height: 585px;
  background-color: #ff8495;
  border-top-left-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Login_inin {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main_two {
  z-index: 20;
  display: flex;
  background-color: white;
  width: 550px;
  height: 585px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
}

.main_text h2 {
  color: white;
  display: flex;
  font-size: 27px;
  /* margin-top: 150px;
    margin-left: -100px; */
  margin-left: 80px;
  margin-top: -80px;
}

.main_text h1 {
  color: white;
  display: flex;
  font-size: 27px;
  margin-left: 80px;
}

.main_text_two p {
  color: white;
  display: flex;
  margin-left: 80px;
  margin-top: 50px;
}

.main_two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 439px;
  height: 428px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.two_Login h1 {
  display: flex;
  font-size: 35px;
  justify-content: center;
}

.main_text input {
  background-color: rgba(232, 231, 231, 0.885);
  width: 350px;
  height: 50px;
  font-size: 17px;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.main_text_two input {
  background-color: rgba(232, 231, 231, 0.885);
  width: 350px;
  height: 50px;
  margin-bottom: 60px;
  font-size: 17px;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.main_button input {
  width: 220px;
  height: 50px;
  margin-top: -50px;
  /* margin-bottom: 100px;*/
  border-radius: 50px;
  background-color: #ff8495;
  border: 0;
  outline: 0;
}

.main_button {
  margin-bottom: 40px;
}

.in {
  padding-left: 10px;
}

.inin {
  padding-left: 10px;
}

.ininin {
  font-size: 18px;
  color: white;
}

.main_text h5 {
  margin-bottom: 4px;
}

.main_text_two h5 {
  margin-bottom: 4px;
}
